* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav *:not(nav > a) {
  display: inline-block;
  height: 100%;

  vertical-align: top;
}

header {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  background-color: lightgray;
  border-bottom: 1px solid gray;
}

nav {
  height: 80px;
  margin-top: 15px;
}

nav li a {
  display: inline-block;
  padding: 0 15px;
  line-height: 80px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

nav li a:visited {
  color: black;
  text-decoration: none;
}

nav li a:active {
  color: rgb(83, 83, 83);
  border-bottom: 2px solid rgb(83, 83, 83);
}

li a:hover {
  border-bottom: 2px solid grey;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: lightgray;
  padding: 20px 0;
  z-index: 0;
}

footer > * {
  margin-top: 30px;
}

footer > span {
  display: block;
}

body {
  background-color: lightgray;
}

main {
  position: relative;
  background-color: white;
  z-index: 1;
}

#logo {
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 8px;
}

.image-row > img {
  width: 100%;
}

.container {
  margin: 0 auto 200px;
  width: 80%;
  word-spacing: 8px;
  text-align: center;
  padding: 125px 0 15px;
}

.container > * {
  word-spacing: normal;
  text-align: start;
}

.card {
  width: calc(100% / 3 - 16px);
  position: relative;
  display: inline-block;
  margin-top: 5px;
  vertical-align: top;
}

.second-image {
  position: absolute;
  top: 0;
  display: none;
}

.card:hover .second-image {
  display: block;
}

.favorite {
  position: absolute;
  top: 20px;
  right: 0px;
  background-color: white;
  font-size: 40px;
  text-align: center;
  line-height: 1.5em;
  width: 1.5em;
  height: 1.5em;
}

.favorite:hover {
  color: crimson;
  cursor: alias;
}

.image-row {
  position: relative;
}

.chip-row {
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  color: white;
}

.chip-row > span {
  padding: 8px;
  display: inline-block;
  vertical-align: middle;
}

.fair::after {
  content: "Sostenibilità";
  background-color: seagreen;
  font-weight: bold;
  padding: 8px;
  vertical-align: middle;
}
.discount {
  background-color: crimson;
}

.details-row {
  margin-top: 10px;
}

.product-name {
  text-transform: uppercase;
  font-size: 22px;
}

.product-brand {
  color: rgb(56, 56, 56);
  font-weight: 400;
  text-transform: capitalize;
}

.current-price {
  display: inline;
  color: crimson;
}

.previous-price {
  display: inline;
  color: rgb(56, 56, 56);
  text-decoration: line-through;
}
